<div>
    <div>
        <label>
            <input type="radio" value="foreColor" v-model="command">&nbsp;
            {{$parent.locale["fore color"]}}
        </label>
        <label>
            <input type="radio" value="backColor" v-model="command">&nbsp;
            {{$parent.locale["background color"]}}
        </label>
    </div>
    <div>
        <el-color-picker style="margin-top: 10px;" v-model="selectColor" @change="changeColor" :predefine="colors"></el-color-picker>
        <!-- <div v-for="color in colors" :style="{'background-color':color}" class="color-card"
             @click="changeColor(color)">
        </div> -->
        <div style="clear: both"></div>
    </div>
</div>
