:root {
  --border-color: #ddd;
  --border-radius: 5px;
  --color: #333;
}

.vue-html5-editor {
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  background-color: white;
  color: var(--color);
  border: 1px solid var(--border-color);
  text-align: left;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-sizing: border-box;
   & > .resize-wrapper{
    position: absolute;
    width: 288px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,0.08);
    border: 1px solid #ccc;
    padding: 12px;
    background-color: #fff;
    & > .size {
      margin-bottom: 5px;
      font-size: 0;
      & > span {
        font-size: 13px;
        display: inline-block;
        width: 23%;
      }
      & > input {
        display: inline-block;
        appearance: button;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #c4c4c4;
        width: 77%;
        height: 20px;
        line-height: 20px;
      }
    }
    & > .bth-group{
      margin-top: 8px;
      & > .el-button{
        padding: 7px 45px;
      }
    }
  }

  & * {
    box-sizing: border-box;
  }

  &.full-screen {
    position: fixed !important;
    top: 1% !important;
    left: 1% !important;
    bottom: 1% !important;
    right: 1% !important;
    border-radius: 0;
    & > .toolbar{
      z-index: 99;
    }
    & > .out-content {
      position: relative;
      overflow: auto;
      z-index: 98;
      & > .content{
        position: relative;
        background-color: inherit;
      }
    }
    & .resize-wrapper{
      z-index: 99;
    }
  }

  & > .toolbar {
    position: relative;
    background-color: inherit;
    z-index: 99;

    & > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid var(--border-color);

      & > li {
        display: inline-block;
        cursor: pointer;
        text-align: center;
        line-height: 36px;
        padding: 0 10px;
        & .icon {
          height: 16px;
          width: 16px;
          display: inline;
          vertical-align: middle;
        }
      }

      & > li.toolbar-select{
        padding-right: 50px;
        position: relative;
        text-align: left;
        & > .fa-angle-down{
          position: absolute;
          right: 0;
          top: 12px;
        }
        & > .module-select{
          min-width: 80px;
          max-height: 220px;
          overflow-y: auto;
          position: absolute;
          left: 0;
          background: #fff;
          border: 1px solid #e4e7ed;
          border-radius: 4px;
          box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
          box-sizing: border-box;
          margin: 2px 0;
          & > div{
            cursor: pointer;
            padding: 0 15px;
          }
        }
      }

      & > li.toolbar-select::after{
        content: '';
        display: block;
        border-bottom: 1px solid #999;
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 0;
      }
    }

    & > .dashboard {
      background-color: inherit;
      border-bottom: 1px solid var(--border-color);
      padding: 10px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      overflow: auto;
      & span {}
      & input[type='text'], & input[type='number'], & select {
        padding: 6px 12px;
        height: 30px;
        color: inherit;
        background-color: transparent;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);

        &:hover {
          border-color: color(var(--border-color) blackness(30%));
        }

        &[disabled], &[readonly] {
          background-color: #eee;
          opacity: 1;
        }

        &[disabled] {
          cursor: not-allowed;
        }
      }

      & button {
        color: inherit;
        background-color: inherit;
        padding: 6px 12px;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        margin-right: 4px;
        margin-bottom: 4px;

        &:hover {
          border-color: color(var(--border-color) blackness(30%));
        }

        &[disabled] {
          cursor: not-allowed;
          opacity: .68;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      & input, button, select {
        line-height: normal;
      }

      & label {
        font-weight: bolder;
      }

    }

  }
  & > .out-content {
    position: relative;
    overflow: auto;
    & > .content {
      overflow: auto;
      padding: 10px;
      & h1 {
        font-size: 2em !important;
      }
      & h2 {
        font-size: 1.5em !important;
      }
      & h3 {
        font-size: 1.17em !important;
      }
      & h4 {
        font-size: 1em !important;
      }
      & h5 {
        font-size: 0.83em !important;
      }
      & h6 {
        font-size: 0.67em !important;
      }
      & img {
        cursor: pointer;
      }
      & i {
        font-style: italic !important;
      }
      & ol{
        padding-left: 20px;
        & li{
          list-style: decimal;
        }
      }
      & ul{
        padding-left: 20px;
        & li{
          list-style: disc;
        }
      }
      &:focus {
        outline: 0;
      }
    }
  }
  & .dashboard-font-select{
    display: inline-block;
    margin-right: 20px;
  }

  & .ayv {

    & .tr_sizes-div {
      padding: 10px 10px;
      position: absolute;
      box-shadow: 0 0 2px;
      background-color: #fff;
      & .Lh{
        color: #15c;
        text-decoration: none;
      }
    }
    & .a3U {
      position: absolute;
      width: 502px;
      height: 502px;
      left: 0px;
      top: -502px;
      & .a3V {
        border: 1px solid #0096fd;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      & .a3T {
        position: absolute;
        width: 9px;
        height: 9px;
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
        background-color: #0096fd;
      }
      & .a3S{
        position: absolute;
        width: 9px;
        height: 9px;
        border-width: 1px;
        border-style: solid;
        cursor: se-resize;
      }
    }
  }

}

@media (max-width: 767px) {
  .vue-html5-editor {
    .dashboard {
      label, input[type='text'], input[type='number'], button, select {
        display: block;
        margin-bottom: 5px;
        width: 100% !important;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .vue-html5-editor {
    .dashboard {
      label, input, button, select {
        display: inline-block;
        margin-right: 4px;
        max-width: 100%;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}